D:\Users\mirro\IdeaProjects\BackgammonTournament\BackgammonTournamentComponents\src\com\joshuapetersen\backgammontournament\ui\components
D:\Users\mirro\IdeaProjects\BackgammonTournament\BackgammonTournamentData\resources\tournament\*